@charset "UTF8";
/*
em HTML é id = em CSS # so pode um elemento
em HTML é class = em CSS . pode varios elementos

*/

BODY{
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
color: rgb(4, 109, 0);
text-align: center;
}
h1#principal{
    text-align: center;
    background-color: green;
    color: white;
}
h2{
    color: rgb(73, 109, 71);
    text-align: center;
}
.basico{
    color: rgb(4, 109, 0);
    text-align: center;
}
.intermediario{
    color: rgb(226, 212, 13);
}
.avancado{
    color: rgb(109, 0, 0);
}
.destaque{
    background-color: rgba(112, 112, 218, 0.699);
}